.vs/
x64/
[Dd]ebug/
[Rr]elease/
*.obj
*.pdb
*.ilk
*.idb
*.ipch
*.tlog
*.log
*.lastbuildstate
*.FileListAbsolute.txt

*.user
*.aps
*.opendb
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.vsidx

libcrypto-3-x64.dll
libssl-3-x64.dll

*.exe
autorun_out.txt

DummyClient/cd *.txt
myIOCP/db/SQLQuery2.sql

myIOCP_bak_comment/
DEBUG_NOTES.md
